.canvas-wrapper {
  position: relative;
  background: #f5f5f5;
}

/* 标尺画布 - 底层 */
#ruler-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  /* 让标尺不拦截鼠标事件 */
}

/* 主画布 - 上层 */
#main-canvas {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 20;
  cursor: crosshair;
  box-shadow: 0 0 0 1px #ddd;
}

#rulers>div {
  position: absolute;
  background: var(--z2);
  z-index: 1;
  overflow: hidden;
  -webkit-font-smoothing: none;
}

.inverted #rulers>div {
  background: var(--z1);
}

#rulers #ruler_corner {
  top: var(--x8);
  left: calc(var(--left-width));
  width: var(--x4);
  height: var(--x4);
  z-index: 2;
  border-radius: var(--x2) 0 0 0;
}

#ruler_x {
  height: var(--x4);
  top: var(--x8);
  left: calc(var(--left-width));
  /* right: calc(var(--panel-width) + var(--x4));; */
  right: calc(var(--panel-width) + var(--x4));
  ;
  overflow: hidden;
  border-radius: var(--x2);
}

#ruler_y {
  width: var(--x4);
  left: calc(var(--left-width));
  top: var(--x8);
  bottom: var(--x10);
  overflow: hidden;
  border-radius: var(--x2);
}

#ruler_x>div,
#ruler_y>div {
  overflow: hidden;
}